@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-B9Xru9uLOG_h_m: 1140px;
  --plasmic-token-content-max-width: var(--token-B9Xru9uLOG_h_m);
  --token--cblRz9AeieDn5: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token--cblRz9AeieDn5);
  --token-hpXG5d5j6su7mG: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-hpXG5d5j6su7mG);
  --token-45dMuckQjSY0EJ: #92959bd9;
  --plasmic-token-light-label: var(--token-45dMuckQjSY0EJ);
  --token-insZcc0MdhB7S4: #05050599;
  --plasmic-token-light-secondary: var(--token-insZcc0MdhB7S4);
  --token-y9L5Q5gD89CK-8: #007aff;
  --plasmic-token-light-blue: var(--token-y9L5Q5gD89CK-8);
  --token-ZYnwtEjlHhlRCE: #ff3b30;
  --plasmic-token-light-red: var(--token-ZYnwtEjlHhlRCE);
  --token-8PpE87H2N2FP1N: #ffffff;
  --plasmic-token-white: var(--token-8PpE87H2N2FP1N);
  --token-YiREQKadhS0UsG: #ffffffd9;
  --plasmic-token-dark-label: var(--token-YiREQKadhS0UsG);
  --token-qh2QPO-QmAUKG4: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-qh2QPO-QmAUKG4);
  --token-ohv6_Cp6CfkkZ7: #0000001a;
  --plasmic-token-light-quarternary: var(--token-ohv6_Cp6CfkkZ7);
  --token-e4BX0fY_MHhxO_: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-e4BX0fY_MHhxO_);
  --token-plXFX9TVpKm4qL: #32d74b;
  --plasmic-token-dark-green: var(--token-plXFX9TVpKm4qL);
  --token-yrYKv1EGNvufE_: #0a84ff;
  --plasmic-token-dark-blue: var(--token-yrYKv1EGNvufE_);
  --token-Wukd-HE1UiN7uC: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-Wukd-HE1UiN7uC);
  --token-q05H54IC1taeNF: #34c759;
  --plasmic-token-light-green: var(--token-q05H54IC1taeNF);
  --token-E97pm1rtB0a5yV: #5856d6;
  --plasmic-token-light-indigo: var(--token-E97pm1rtB0a5yV);
  --token-H3cUJ9dsAVvzHv: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-H3cUJ9dsAVvzHv);
  --token-Q_elbCcb9SSq4v: 1240px;
  --plasmic-token-max-width-navbar: var(--token-Q_elbCcb9SSq4v);
  --token-2nCbJqIueA-goz: var(--token-4s-yuHXJ0TROZN);
  --plasmic-token-unnamed-style-token-2: var(--token-2nCbJqIueA-goz);
  --token-4s-yuHXJ0TROZN: #eeeeee80;
  --plasmic-token-grey: var(--token-4s-yuHXJ0TROZN);
}

.plasmic_default_styles {
  --mixin-zV6LxOTTO3MxSQ_font-family: "Montserrat", sans-serif;
  --mixin-zV6LxOTTO3MxSQ_font-size: 24px;
  --mixin-zV6LxOTTO3MxSQ_font-weight: 400;
  --mixin-zV6LxOTTO3MxSQ_font-style: normal;
  --mixin-zV6LxOTTO3MxSQ_color: #00000080;
  --mixin-zV6LxOTTO3MxSQ_text-align: center;
  --mixin-zV6LxOTTO3MxSQ_text-transform: none;
  --mixin-zV6LxOTTO3MxSQ_line-height: 150%;
  --mixin-zV6LxOTTO3MxSQ_letter-spacing: normal;
  --mixin-zV6LxOTTO3MxSQ_white-space: pre-wrap;
  --mixin-zV6LxOTTO3MxSQ_user-select: text;
  --mixin-zV6LxOTTO3MxSQ_text-decoration-line: none;
  --mixin-zV6LxOTTO3MxSQ_text-overflow: clip;
  --mixin-TsBYE8A49NbTun_white-space: pre-wrap;
  --mixin-ooEm6NCjsG47Rp_font-family: "Montserrat", sans-serif;
  --mixin-ooEm6NCjsG47Rp_color: #000000;
  --mixin-ooEm6NCjsG47Rp_font-size: 72px;
  --mixin-ooEm6NCjsG47Rp_font-weight: 700;
  --mixin-ooEm6NCjsG47Rp_line-height: 88px;
  --mixin-ooEm6NCjsG47Rp_text-align: center;
  --mixin-ooEm6NCjsG47Rp_white-space: pre-wrap;
  --mixin-bSzEZCR16dGHB0_font-family: "Inter", sans-serif;
  --mixin-bSzEZCR16dGHB0_color: #000000;
  --mixin-bSzEZCR16dGHB0_font-size: 48px;
  --mixin-bSzEZCR16dGHB0_font-weight: 700;
  --mixin-bSzEZCR16dGHB0_line-height: 59px;
  --mixin-bSzEZCR16dGHB0_white-space: pre-wrap;
  --mixin-of94XsSN4n9U0v_font-family: "Montserrat", sans-serif;
  --mixin-of94XsSN4n9U0v_color: #000000;
  --mixin-of94XsSN4n9U0v_font-size: 36px;
  --mixin-of94XsSN4n9U0v_font-weight: 700;
  --mixin-of94XsSN4n9U0v_line-height: 140%;
  --mixin-of94XsSN4n9U0v_white-space: pre-wrap;
  --mixin-rwGZQ9hv-16N_R_font-family: "Montserrat", sans-serif;
  --mixin-rwGZQ9hv-16N_R_color: #aeaeae;
  --mixin-rwGZQ9hv-16N_R_font-size: 18px;
  --mixin-rwGZQ9hv-16N_R_font-weight: 500;
  --mixin-rwGZQ9hv-16N_R_letter-spacing: -0.3px;
  --mixin-rwGZQ9hv-16N_R_line-height: 22px;
  --mixin-rwGZQ9hv-16N_R_white-space: pre-wrap;
  --mixin-2LDGIHM2xE09a3_font-family: "Inter", sans-serif;
  --mixin-2LDGIHM2xE09a3_color: #000000;
  --mixin-2LDGIHM2xE09a3_font-size: 16px;
  --mixin-2LDGIHM2xE09a3_font-weight: 600;
  --mixin-2LDGIHM2xE09a3_line-height: 1.5;
  --mixin-2LDGIHM2xE09a3_white-space: pre-wrap;
  --mixin-Tl1wAgFtkF-OAe_border-left-color: #dddddd;
  --mixin-Tl1wAgFtkF-OAe_border-left-style: solid;
  --mixin-Tl1wAgFtkF-OAe_border-left-width: 3px;
  --mixin-Tl1wAgFtkF-OAe_color: #888888;
  --mixin-Tl1wAgFtkF-OAe_padding-left: 10px;
  --mixin-Tl1wAgFtkF-OAe_white-space: pre-wrap;
  --mixin-35-2pgSVS_bzrE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-35-2pgSVS_bzrE_border-bottom-color: #dddddd;
  --mixin-35-2pgSVS_bzrE_border-bottom-style: solid;
  --mixin-35-2pgSVS_bzrE_border-bottom-width: 1px;
  --mixin-35-2pgSVS_bzrE_border-left-color: #dddddd;
  --mixin-35-2pgSVS_bzrE_border-left-style: solid;
  --mixin-35-2pgSVS_bzrE_border-left-width: 1px;
  --mixin-35-2pgSVS_bzrE_border-right-color: #dddddd;
  --mixin-35-2pgSVS_bzrE_border-right-style: solid;
  --mixin-35-2pgSVS_bzrE_border-right-width: 1px;
  --mixin-35-2pgSVS_bzrE_border-top-color: #dddddd;
  --mixin-35-2pgSVS_bzrE_border-top-style: solid;
  --mixin-35-2pgSVS_bzrE_border-top-width: 1px;
  --mixin-35-2pgSVS_bzrE_border-bottom-left-radius: 3px;
  --mixin-35-2pgSVS_bzrE_border-bottom-right-radius: 3px;
  --mixin-35-2pgSVS_bzrE_border-top-left-radius: 3px;
  --mixin-35-2pgSVS_bzrE_border-top-right-radius: 3px;
  --mixin-35-2pgSVS_bzrE_font-family: "Inconsolata";
  --mixin-35-2pgSVS_bzrE_padding-bottom: 1px;
  --mixin-35-2pgSVS_bzrE_padding-left: 4px;
  --mixin-35-2pgSVS_bzrE_padding-right: 4px;
  --mixin-35-2pgSVS_bzrE_padding-top: 1px;
  --mixin-35-2pgSVS_bzrE_white-space: pre-wrap;
  --mixin-eb1LKWeSp2dLZj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eb1LKWeSp2dLZj_border-bottom-color: #dddddd;
  --mixin-eb1LKWeSp2dLZj_border-bottom-style: solid;
  --mixin-eb1LKWeSp2dLZj_border-bottom-width: 1px;
  --mixin-eb1LKWeSp2dLZj_border-left-color: #dddddd;
  --mixin-eb1LKWeSp2dLZj_border-left-style: solid;
  --mixin-eb1LKWeSp2dLZj_border-left-width: 1px;
  --mixin-eb1LKWeSp2dLZj_border-right-color: #dddddd;
  --mixin-eb1LKWeSp2dLZj_border-right-style: solid;
  --mixin-eb1LKWeSp2dLZj_border-right-width: 1px;
  --mixin-eb1LKWeSp2dLZj_border-top-color: #dddddd;
  --mixin-eb1LKWeSp2dLZj_border-top-style: solid;
  --mixin-eb1LKWeSp2dLZj_border-top-width: 1px;
  --mixin-eb1LKWeSp2dLZj_border-bottom-left-radius: 3px;
  --mixin-eb1LKWeSp2dLZj_border-bottom-right-radius: 3px;
  --mixin-eb1LKWeSp2dLZj_border-top-left-radius: 3px;
  --mixin-eb1LKWeSp2dLZj_border-top-right-radius: 3px;
  --mixin-eb1LKWeSp2dLZj_font-family: "Inconsolata";
  --mixin-eb1LKWeSp2dLZj_padding-bottom: 3px;
  --mixin-eb1LKWeSp2dLZj_padding-left: 6px;
  --mixin-eb1LKWeSp2dLZj_padding-right: 6px;
  --mixin-eb1LKWeSp2dLZj_padding-top: 3px;
  --mixin-eb1LKWeSp2dLZj_white-space: pre-wrap;
  --mixin-5_mm0bPpFlZ27J_display: flex;
  --mixin-5_mm0bPpFlZ27J_flex-direction: column;
  --mixin-5_mm0bPpFlZ27J_align-items: stretch;
  --mixin-5_mm0bPpFlZ27J_justify-content: flex-start;
  --mixin-5_mm0bPpFlZ27J_list-style-position: outside;
  --mixin-5_mm0bPpFlZ27J_padding-left: 40px;
  --mixin-5_mm0bPpFlZ27J_position: relative;
  --mixin-5_mm0bPpFlZ27J_list-style-type: decimal;
  --mixin-5_mm0bPpFlZ27J_white-space: pre-wrap;
  --mixin-n7nJhT_Ph7rmfJ_display: flex;
  --mixin-n7nJhT_Ph7rmfJ_flex-direction: column;
  --mixin-n7nJhT_Ph7rmfJ_align-items: stretch;
  --mixin-n7nJhT_Ph7rmfJ_justify-content: flex-start;
  --mixin-n7nJhT_Ph7rmfJ_list-style-position: outside;
  --mixin-n7nJhT_Ph7rmfJ_padding-left: 40px;
  --mixin-n7nJhT_Ph7rmfJ_position: relative;
  --mixin-n7nJhT_Ph7rmfJ_list-style-type: disc;
  --mixin-n7nJhT_Ph7rmfJ_white-space: pre-wrap;
  --mixin-SOs_QfrgqXF18D_color: #000000;
  --mixin-SOs_QfrgqXF18D_font-family: "Montserrat", sans-serif;
  --mixin-SOs_QfrgqXF18D_font-size: 72px;
  --mixin-SOs_QfrgqXF18D_line-height: 88px;
  --mixin-SOs_QfrgqXF18D_text-align: center;
  --mixin-SOs_QfrgqXF18D_font-weight: 700;
  --mixin-SOs_QfrgqXF18D_white-space: pre-wrap;
}

@media (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-zV6LxOTTO3MxSQ_font-size: 18px;
    --mixin-zV6LxOTTO3MxSQ_font-weight: 400;
    --mixin-zV6LxOTTO3MxSQ_white-space: pre-wrap;
    --mixin-ooEm6NCjsG47Rp_font-size: 40px;
    --mixin-ooEm6NCjsG47Rp_line-height: 49px;
    --mixin-ooEm6NCjsG47Rp_white-space: pre-wrap;
    --mixin-bSzEZCR16dGHB0_font-size: 40px;
    --mixin-bSzEZCR16dGHB0_line-height: 49px;
    --mixin-bSzEZCR16dGHB0_white-space: pre-wrap;
    --mixin-of94XsSN4n9U0v_font-size: 30px;
    --mixin-of94XsSN4n9U0v_white-space: pre-wrap;
    --mixin-2LDGIHM2xE09a3_font-size: 18px;
    --mixin-2LDGIHM2xE09a3_white-space: pre-wrap;
    --mixin-SOs_QfrgqXF18D_font-size: 40px;
    --mixin-SOs_QfrgqXF18D_line-height: 49px;
    --mixin-SOs_QfrgqXF18D_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-oFMX2UsizSGS0M_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(
    --mixin-oFMX2UsizSGS0M_box-shadow
  );
  --mixin-5CrgrZCrhAKMOd_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-5CrgrZCrhAKMOd_box-shadow
  );
  --mixin-8F51dINITFTbeJ_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-8F51dINITFTbeJ_box-shadow
  );
  --mixin-Qe5VNQ5femeuJ0_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-Qe5VNQ5femeuJ0_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-zV6LxOTTO3MxSQ_font-family);
  font-size: var(--mixin-zV6LxOTTO3MxSQ_font-size);
  font-weight: var(--mixin-zV6LxOTTO3MxSQ_font-weight);
  font-style: var(--mixin-zV6LxOTTO3MxSQ_font-style);
  color: var(--mixin-zV6LxOTTO3MxSQ_color);
  text-align: var(--mixin-zV6LxOTTO3MxSQ_text-align);
  text-transform: var(--mixin-zV6LxOTTO3MxSQ_text-transform);
  line-height: var(--mixin-zV6LxOTTO3MxSQ_line-height);
  letter-spacing: var(--mixin-zV6LxOTTO3MxSQ_letter-spacing);
  white-space: var(--mixin-zV6LxOTTO3MxSQ_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-ooEm6NCjsG47Rp_font-family);
  color: var(--mixin-ooEm6NCjsG47Rp_color);
  font-size: var(--mixin-ooEm6NCjsG47Rp_font-size);
  font-weight: var(--mixin-ooEm6NCjsG47Rp_font-weight);
  line-height: var(--mixin-ooEm6NCjsG47Rp_line-height);
  text-align: var(--mixin-ooEm6NCjsG47Rp_text-align);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-bSzEZCR16dGHB0_font-family);
  color: var(--mixin-bSzEZCR16dGHB0_color);
  font-size: var(--mixin-bSzEZCR16dGHB0_font-size);
  font-weight: var(--mixin-bSzEZCR16dGHB0_font-weight);
  line-height: var(--mixin-bSzEZCR16dGHB0_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-of94XsSN4n9U0v_font-family);
  color: var(--mixin-of94XsSN4n9U0v_color);
  font-size: var(--mixin-of94XsSN4n9U0v_font-size);
  font-weight: var(--mixin-of94XsSN4n9U0v_font-weight);
  line-height: var(--mixin-of94XsSN4n9U0v_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-rwGZQ9hv-16N_R_font-family);
  color: var(--mixin-rwGZQ9hv-16N_R_color);
  font-size: var(--mixin-rwGZQ9hv-16N_R_font-size);
  font-weight: var(--mixin-rwGZQ9hv-16N_R_font-weight);
  letter-spacing: var(--mixin-rwGZQ9hv-16N_R_letter-spacing);
  line-height: var(--mixin-rwGZQ9hv-16N_R_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-2LDGIHM2xE09a3_font-family);
  color: var(--mixin-2LDGIHM2xE09a3_color);
  font-size: var(--mixin-2LDGIHM2xE09a3_font-size);
  font-weight: var(--mixin-2LDGIHM2xE09a3_font-weight);
  line-height: var(--mixin-2LDGIHM2xE09a3_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-Tl1wAgFtkF-OAe_color);
  padding-left: var(--mixin-Tl1wAgFtkF-OAe_padding-left);
  border-left: var(--mixin-Tl1wAgFtkF-OAe_border-left-width)
    var(--mixin-Tl1wAgFtkF-OAe_border-left-style)
    var(--mixin-Tl1wAgFtkF-OAe_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-35-2pgSVS_bzrE_background);
  font-family: var(--mixin-35-2pgSVS_bzrE_font-family);
  border-radius: var(--mixin-35-2pgSVS_bzrE_border-top-left-radius)
    var(--mixin-35-2pgSVS_bzrE_border-top-right-radius)
    var(--mixin-35-2pgSVS_bzrE_border-bottom-right-radius)
    var(--mixin-35-2pgSVS_bzrE_border-bottom-left-radius);
  padding: var(--mixin-35-2pgSVS_bzrE_padding-top)
    var(--mixin-35-2pgSVS_bzrE_padding-right)
    var(--mixin-35-2pgSVS_bzrE_padding-bottom)
    var(--mixin-35-2pgSVS_bzrE_padding-left);
  border-top: var(--mixin-35-2pgSVS_bzrE_border-top-width)
    var(--mixin-35-2pgSVS_bzrE_border-top-style)
    var(--mixin-35-2pgSVS_bzrE_border-top-color);
  border-right: var(--mixin-35-2pgSVS_bzrE_border-right-width)
    var(--mixin-35-2pgSVS_bzrE_border-right-style)
    var(--mixin-35-2pgSVS_bzrE_border-right-color);
  border-bottom: var(--mixin-35-2pgSVS_bzrE_border-bottom-width)
    var(--mixin-35-2pgSVS_bzrE_border-bottom-style)
    var(--mixin-35-2pgSVS_bzrE_border-bottom-color);
  border-left: var(--mixin-35-2pgSVS_bzrE_border-left-width)
    var(--mixin-35-2pgSVS_bzrE_border-left-style)
    var(--mixin-35-2pgSVS_bzrE_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-eb1LKWeSp2dLZj_background);
  font-family: var(--mixin-eb1LKWeSp2dLZj_font-family);
  border-radius: var(--mixin-eb1LKWeSp2dLZj_border-top-left-radius)
    var(--mixin-eb1LKWeSp2dLZj_border-top-right-radius)
    var(--mixin-eb1LKWeSp2dLZj_border-bottom-right-radius)
    var(--mixin-eb1LKWeSp2dLZj_border-bottom-left-radius);
  padding: var(--mixin-eb1LKWeSp2dLZj_padding-top)
    var(--mixin-eb1LKWeSp2dLZj_padding-right)
    var(--mixin-eb1LKWeSp2dLZj_padding-bottom)
    var(--mixin-eb1LKWeSp2dLZj_padding-left);
  border-top: var(--mixin-eb1LKWeSp2dLZj_border-top-width)
    var(--mixin-eb1LKWeSp2dLZj_border-top-style)
    var(--mixin-eb1LKWeSp2dLZj_border-top-color);
  border-right: var(--mixin-eb1LKWeSp2dLZj_border-right-width)
    var(--mixin-eb1LKWeSp2dLZj_border-right-style)
    var(--mixin-eb1LKWeSp2dLZj_border-right-color);
  border-bottom: var(--mixin-eb1LKWeSp2dLZj_border-bottom-width)
    var(--mixin-eb1LKWeSp2dLZj_border-bottom-style)
    var(--mixin-eb1LKWeSp2dLZj_border-bottom-color);
  border-left: var(--mixin-eb1LKWeSp2dLZj_border-left-width)
    var(--mixin-eb1LKWeSp2dLZj_border-left-style)
    var(--mixin-eb1LKWeSp2dLZj_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-5_mm0bPpFlZ27J_display);
  flex-direction: var(--mixin-5_mm0bPpFlZ27J_flex-direction);
  align-items: var(--mixin-5_mm0bPpFlZ27J_align-items);
  justify-content: var(--mixin-5_mm0bPpFlZ27J_justify-content);
  list-style-position: var(--mixin-5_mm0bPpFlZ27J_list-style-position);
  padding-left: var(--mixin-5_mm0bPpFlZ27J_padding-left);
  position: var(--mixin-5_mm0bPpFlZ27J_position);
  list-style-type: var(--mixin-5_mm0bPpFlZ27J_list-style-type);
  flex-column-gap: var(--mixin-5_mm0bPpFlZ27J_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-n7nJhT_Ph7rmfJ_display);
  flex-direction: var(--mixin-n7nJhT_Ph7rmfJ_flex-direction);
  align-items: var(--mixin-n7nJhT_Ph7rmfJ_align-items);
  justify-content: var(--mixin-n7nJhT_Ph7rmfJ_justify-content);
  list-style-position: var(--mixin-n7nJhT_Ph7rmfJ_list-style-position);
  padding-left: var(--mixin-n7nJhT_Ph7rmfJ_padding-left);
  position: var(--mixin-n7nJhT_Ph7rmfJ_position);
  list-style-type: var(--mixin-n7nJhT_Ph7rmfJ_list-style-type);
  flex-column-gap: var(--mixin-n7nJhT_Ph7rmfJ_flex-column-gap);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-SOs_QfrgqXF18D_color);
  font-family: var(--mixin-SOs_QfrgqXF18D_font-family);
  font-size: var(--mixin-SOs_QfrgqXF18D_font-size);
  line-height: var(--mixin-SOs_QfrgqXF18D_line-height);
  text-align: var(--mixin-SOs_QfrgqXF18D_text-align);
  font-weight: var(--mixin-SOs_QfrgqXF18D_font-weight);
}
