.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__vkI0F {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-Q_elbCcb9SSq4v);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__vkI0F > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__vkI0F > :global(.__wab_flex-container) > *,
.freeBox__vkI0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vkI0F > :global(.__wab_flex-container) > picture > img,
.freeBox__vkI0F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__vkI0F {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__vkI0F > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__vkI0F > :global(.__wab_flex-container) > *,
  .freeBox__vkI0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vkI0F > :global(.__wab_flex-container) > picture > img,
  .freeBox__vkI0F
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox__l6XR1 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox__l6XR1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__l6XR1 > :global(.__wab_flex-container) > *,
.freeBox__l6XR1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l6XR1 > :global(.__wab_flex-container) > picture > img,
.freeBox__l6XR1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox__l6XR1 {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button___6T0Av:global(.__wab_instance) {
  position: relative;
}
.svg___2WkDl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kxnPo {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__c3WeV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___196T:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___196T:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__hujzz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__s0OuB {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__pkEkp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__l5L8R:global(.__wab_instance) {
  position: relative;
}
.svg__unRc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pr6E1 {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__zbnOa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__jb59 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__jb59 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 930px) {
  .freeBox__jb59 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__jb59 > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__jb59 > :global(.__wab_flex-container) > *,
  .freeBox__jb59 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jb59 > :global(.__wab_flex-container) > picture > img,
  .freeBox__jb59
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__y7C4P:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__y7C4P:global(.__wab_instance) {
    display: none;
  }
}
.svg__iQbCb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__d5Zks {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sdTtr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ndTj0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cvMFf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
